---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf()
);

console.log(new Date("7 October 2022 9:00 UTC+11").toDateString());
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title="The Codey Verse Blog Posts"
            description="All the blog posts for a blog that I am using to document the process of building a open source website called Codey Verse where people can learn to code"
        />
        <style>
            ul {
                list-style-type: none;
                padding: unset;
            }
            ul li {
                display: flex;
            }
            ul li time {
                flex: 0 0 130px;
                font-style: italic;
                color: #595959;
            }
            ul li a:visited {
                color: #8e32dc;
            }
        </style>
    </head>
    <body class="bg-base-100">
        <Header />
        <main>
            <h1 class="w-fit mx-auto text-5xl">Posts</h1>
            <section class="grid post-grid md:w-[80vw] mx-auto mt-5">
                {
                    posts.map((post, index) => {
                        const link = `/blog/${post.file
                            .split("/")
                            .pop()
                            .split(".")
                            .shift()}`;
                        return (
                            <a href={link}>
                                <div class={`h-[33vh] rounded-2xl relative bg-${post.frontmatter.background}`}>
                                    <img
                                        src={post.frontmatter.imgURL}
                                        alt="The Codey Verse Logo"
                                        class="h-[30vh] mx-auto absolute left-0 right-0 z-10"
                                    />
                                    <h3
                                        class="text-3xl text-accent absolute bottom-0 pb-6 pt-10 pl-6 z-20 w-full rounded-2xl"
                                        style="background: linear-gradient(rgba(40, 40, 40, 0), 40%, rgba(40, 40, 40, 1));"
                                    >
                                       {post.frontmatter.title}
                                    </h3>
                                    <p class="text-xl absolute bottom-0 pl-6 text-accent z-30">{post.frontmatter.pubDate}</p>
                                </div>
                            </a>
                        );
                    })
                }
            </section>
        </main>
    </body>
</html>
